/* Objects */

img {
    height: 45px;
    width: 45px;
}

body {
    background: brown;
}


/* Id's */

#counter {
    background: limegreen;
    text-align: center;
    padding-top: 60px;
    border-radius: 12px;
}

#instructions {
    background: lightblue;
    border-radius: 10px;
}

#BIG {
    padding-left: 15px;
}

#numGuessed {
    width: 350px;
    height: 50px;
    background: gray;
    margin-top: 10px;
    color: white;
    padding: 13px;
    text-align: center;
    border-radius: 15px;
}

#Header {
    background: orange;
    color: white;
    border-radius: 12px;
}

#gameTotal {
    width: 350px;
    height: 50px;
    background: gray;
    margin-top: 10px;
    color: white;
    padding: 13px;
    text-align: center;
    border-radius: 15px;
}


/* Buttons */

#diamond-button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: white;
    border: none;
    border-radius: 5px;
    margin: 20px;
}

#ruby-button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: lightcoral;
    border: none;
    border-radius: 5px;
    margin: 20px;
}

#sapphire-button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: lightblue;
    border: none;
    border-radius: 5px;
    margin: 20px;
}

#emerald-button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: lightgreen;
    border: none;
    border-radius: 5px;
    margin: 20px;
}